header {
  width: 100%;
  justify-content: center;
}

h1{
  width: min-content;
  margin: 20px auto;
  font-size: 3em;
  text-decoration: underline;
}

section {
  width: 80vw;
  margin: auto 10vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
 label{
   font-size: 2em;
 }
 button{
   size: 2em;
 }
p{
  font-size: 2em;
}
input{
  size: 2em;
}
table{
  border-collapse: separate;
  border-spacing: 10px;
}

#transport{
  margin: 5px;
  padding: 5px;
  width: fit-content;
}